div.Intro
{
  background-color: black;
	color: gray;

	width: 200px;
	height:100px;
	border: 2px solid white;
}

table
{
  background-color: black;
	color: white;

	width: 300px;
	height:300px;
	border: 2px solid grey;
}
